@media screen and (max-width:576px) {
    body {
        max-width: 95%;
        margin: 0 auto;
    }

    /* navigation section starts */
    .primary-links {
        display: none;
    }

    .humbarger {
        display: block;
    }


    .nav-links ul li a {
        padding-left: 0px;
    }

    /* navigation section ends */
    /* banner section starts */
    .banner {
        flex-direction: column-reverse;
        justify-content: center;
        text-align: center;
    }

    .banner-text-container {
        display: flex;
        flex-direction: column;
        align-items: center;


    }
    /* banner section ends */

    /* sponsors container starts */
    .sponsors-container{
        border: 1px solid red;
        grid-template-columns: repeat(13,1fr);
        /* grid-template-rows: repeat(2,1fr); */
    }
    .img-1{
        grid-column: 2/span 2;
    }
    .img-2{
        grid-column: 5/span 2;
    }
    .img-3{
        grid-column: 8/span 2;
    }
    .img-4{
        grid-column: 11/span 2;
    }
    .img-5{
        grid-column: 3/span 2;
    }
    .img-6{
        grid-column: 6/span 2;
    }
    .img-7{
        grid-column: 9/span 2;
    }
    /* sopnsors container ends */



}